<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkszZfuQh2CraS0jCh3vp0OycbEcYsQTo</string>
	<key>GCM_SENDER_ID</key>
	<string>352991799316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrlavug.capp</string>
	<key>PROJECT_ID</key>
	<string>capp-9f7bf</string>
	<key>STORAGE_BUCKET</key>
	<string>capp-9f7bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352991799316:ios:620a7c01814449d7e45f01</string>
</dict>
</plist>